@import "_settings.breakpoints.css";

.c-header {
  align-items: center;
  background-color: var(--c-blue-bright);
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  padding-bottom: 14.75rem;
  position: relative;
  text-align: center;
}

.c-header::before {
  height: 44%;
  background-position: 50% 100%;
  background-size: cover;
  background-image: url(../images/rectangle-party-small.svg);
  background-repeat: no-repeat;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

@media (--bp-medium) {
  .c-header::before {
    background-image: url(../images/rectangle-party-alt.svg);
    background-position: 50%;
    background-size: contain;
    height: 60%;
  }
}

.c-header__bar {
  background-color: var(--c-mint);
  height: .75rem;
  max-width: 26.875rem;
  min-width: 12.5rem;
  position: relative;
  width: 52%;
  z-index: 1;
}

.c-header__content {
  position: relative;
  z-index: 2;
}

.c-header__intro {
  font-size: 1.5rem;
  line-height: 1.33;
}

@media (--bp-small) {
  .c-header__intro {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (--bp-medium) {
  .c-header__intro {
    margin: auto;
    width: 75%;
  }
}

@media (--bp-huge) {
  .c-header {
    padding-bottom: 22.75rem;
  }

  .c-header__intro {
    font-size: 2.75rem;
    line-height: 1.22;
    width: auto;
  }
}
