@import "_settings.breakpoints.css";

:root {
  --decoration-summary-height: 11.1875rem;
  --decoration-summary-width: 4.9375rem;
}

.c-decoration {
  display: flex;
  flex-direction: column;
}

.c-decoration--summary {
  bottom: calc((var(--decoration-summary-height) - var(--decoration-summary-height) / 2) - var(--decoration-summary-height));
  margin-left: calc(var(--decoration-summary-width) / 2 - var(--decoration-summary-width));
  margin-top: calc(var(--decoration-summary-height) / 2);
  left: 50%;
  position: absolute;
  width: var(--decoration-summary-width);
}

.c-decoration--bottom {
  margin-top: 11.75rem;;
}

.c-decoration--bottom .c-decoration__item--circle {
  width: 100%;
}

.c-decoration--bottom .c-decoration__item--arrow {
  align-self: center;
  margin: 1.5rem 0 9.625rem;
  max-width: 18.75rem;
  width: 50%;
}

@media (--bp-huge) {
  .c-decoration--bottom .c-decoration__item--arrow {
    margin-top: 4rem;
  }
}
