@import "_settings.breakpoints.css";

:root {
  --headline-header-size: 16.75rem;
  --headline-header-decor-size: 19.375rem;
}

.c-headline {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
}

.c-headline__text {
  position: relative;
  z-index: 2;
}

@media (--bp-x-small) {
  .c-headline {
    font-size: 3.75rem;
  }
}

@media (--bp-medium) {
  .c-headline {
    font-size: 5rem;
  }
}

@media (--bp-huge) {
  :root {
    --headline-header-size: 37.5rem;
  }

  .c-headline {
    font-size: 12.5rem;
  }
}

.c-headline--header {
  margin-bottom: 12.5rem;
  margin-top: 12.5rem;
  position: relative;
}

.c-headline--header::before {
  background-color: var(--c-blue);
  box-shadow: 0 .125rem 6.25rem 0 var(--c-blue);
  content: " ";
  height: var(--headline-header-size);
  margin-left: calc(var(--headline-header-size) / 2 - var(--headline-header-size));
  margin-top: calc(var(--headline-header-size) / 2 - var(--headline-header-size));
  left: 50%;
  position: absolute;
  top: 50%;
  width: var(--headline-header-size);
}

@media (--bp-x-big) {
  .c-headline--header {
    margin-bottom: 15rem;
    margin-top: 15rem;
  }
}

.c-headline--experience {
  color: var(--c-blue);
  margin-top: 11.25rem;
}

@media (--bp-huge) {
  .c-headline--experience {
    font-size: 8.75rem;
  }
}

.c-headline--contact {
  font-size: 5.25rem;
  padding: 1.625rem;
  line-height: 1;
  position: relative;
}

.c-headline--contact::before {
  border: .75rem solid var(--c-mint);
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 4.5rem;
  z-index: -1;
}

@media (--bp-x-small) {
  .c-headline--contact {
    font-size: 6.25rem;
  }
}

@media (--bp-small) {
  .c-headline--contact {
    font-size: 9rem;
  }

  .c-headline--contact::before {
    top: 6.9rem;
  }
}

@media (--bp-big) {
  .c-headline--contact br:first-of-type {
    display: none;
  }

  .c-headline--contact::before {
    height: 24.25rem;
  }
}

@media (--bp-huge) {
  .c-headline--contact {
    font-size: 12.5rem;
  }

  .c-headline--contact::before {
    height: 33.25rem;
    top: 9rem;
  }
}
