body {
  font-family: "visuelt", sans-serif;
  font-size: 1.125rem;
}

a {
  color: var(--c-blue-bright);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
}
